@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1687834385307') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianyingpiaoiocn:before {
  content: "\e60e";
}

.icon-youxi:before {
  content: "\e643";
}

.icon-shouhoufuwuicon:before {
  content: "\e633";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-zuobiao:before {
  content: "\e679";
}

.icon-huafei:before {
  content: "\e638";
}

.icon-gerenzhongxin:before {
  content: "\e60b";
}

.icon-gengduo:before {
  content: "\f0343";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-jipiao:before {
  content: "\e89c";
}

.icon--dianyingpiao-:before {
  content: "\e601";
}

.icon-xiangji_o:before {
  content: "\eb86";
}

.icon-baitiao:before {
  content: "\e61a";
}

.icon-jiudian:before {
  content: "\e73f";
}

.icon-xiala:before {
  content: "\e603";
}

.icon-shinshoplipinqia:before {
  content: "\e623";
}

.icon-qiye:before {
  content: "\e64c";
}

.icon-shouji:before {
  content: "\e61b";
}

.icon-cloud:before {
  content: "\e988";
}

.icon-wujin:before {
  content: "\e7a5";
}

.icon-huochepiao:before {
  content: "\fab2";
}

.icon-a-5_huaban1:before {
  content: "\e63b";
}

.icon-rengongkefu:before {
  content: "\e87c";
}

.icon-dayuhao:before {
  content: "\e615";
}

.icon-xiaoyuhao:before {
  content: "\e616";
}

